*{
    margin: 0;
    padding: 0;
}

body{
    /* background: linear-gradient(90deg, #2f312f,  rgb(103, 115, 106), #2f312f); */
    /* background-color: black; */
}

.NavbarS{
    position: relative; 
    margin: 0px 40px;
    background-image: url(./Images/Rectangle\ 1.png);
    height: 92px;
    border-radius: 0px 32px 32px 0px;
}

.nav1 ul{
    padding: 45px 64px 0px 64px;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 40px;
}

.nav1 ul li {
    list-style-type: none;
    font-size: 16px;
}

.nav2{
    position: absolute;
    top: 50px;
    left: 34px;
}

.search-bar {
    width: 825px;
    height: 30px;
    padding: 8px 30px 8px 26px;
    margin: 0px 0px 20px 0px;
    border-radius: 22px;
    border: none;
    background: url('./images/Group\ 4.png') no-repeat right 8px center;
    background-size: 26px;
    background-color: #1C7880;
    color: white;
}

::placeholder{
    color: white;
    font-size: 14px;
}

.Hero{
    position: relative;
    display: flex;
    margin: 4px 75px ;
}

.left-side{
    margin-top: 20px;
    background: linear-gradient(90deg, #7BEFCC , #7befcc00);
    height: 50px;
    width: 450px;
    border-radius: 15px;

}

.im1{
    display: block;
}

.inertia{
    margin: 10px;
    padding-top: 3px;
    padding-left: 15px;
    display: flex;
    gap: 40px;
}

button{
    display: flex;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    align-items: center;
    gap: 8px;
    font-size: 16px;
}